[submodule "CallbackHandler-1.0"]
	path = libs/CallbackHandler-1.0
	url = git://github.com/p3lim/CallbackHandler-1.0.git

[submodule "LibDataBroker-1.1"]
	path = libs/LibDataBroker-1.1
	url = git://github.com/tekkub/libdatabroker-1-1.git
